*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section_heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section_heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section_heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

/* main style */

header{
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:5px ;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;

}

#about .about_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
}

#about .about_container .about_info{
    display: flex;
    justify-content: space-around;
}

.about_info .info_card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about_info .info_card h4{
    font-size: 20px;

}

#skills{
    padding-top: 130px;
}

#skills .skills_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills_container .skill_list{
    display: flex;
    gap: 24px;

}

.skill_list .skill_card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #00000040;
}

.skill_card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill_card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill_card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}