*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn_group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section_heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section_heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section_heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.text_center{
    text-align: center;
    margin-top: 50px;
}

/* main style */

header{
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;

    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:5px ;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about ,#skills, #resume{
    padding-top: 130px;
}

#about .about_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
}

#about .about_container .about_info{
    display: flex;
    justify-content: space-around;
}

.about_info .info_card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about_info .info_card h4{
    font-size: 20px;

}


#skills .skills_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills_container .skill_list{
    display: flex;
    gap: 24px;

}

.skill_list .skill_card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #00000021;
    border-radius: 5px;
}

.skill_card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill_card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill_card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume_container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}

.resume_container hr{
    margin: 30px 0px;
    color: #D1D1D1;
}

.resume_container .section_title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume_card{
    max-width: 511px;
    margin-right: 47px;
}

.resume_card .card_title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom:10px ;
}

.resume_card .card_info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:20px ;
}
.resume_card .card_info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:20px ;
}

.resume_card .card_text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top:130px ;
    background-color: #FFF8F3;
    padding: 130px 0px;
}

footer .footer_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer_container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer_container .social{
    max-width: 562px;
}

.footer_container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;

}

.footer_container .icons a{
    margin-right: 24px;
}

.footer_container form input[type="text"] , .footer_container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px ;
    color: #757575;
}

.hide {
    display: none !important;
}

@media screen and (max-width:576px){

    .skills_container {
        width: 95%;
    }

    .section_heading h2 {
        font-size: 30px;
        
    }

    .btn_group{
        justify-content: center;
    }

    header {
        background: url(../images/header_bg.png), #FFF8F3;
        background-position:bottom right;
        background-repeat: no-repeat;
    }

    nav{
        gap: 20px;
    }

    nav .menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    #banner{
        margin: 20px;
        gap: 20px;
        text-align: center;
    }

    #banner .banner-image img{
        max-width: 100%;
    }

    #banner .banner-content h1{
        font-size: 46px;
    }

    #about ,
    #skills, 
    #resume{
        padding-top: 60px;
    }

    #about .about_container{
        padding: 20px;
    }
    
    #about .about_container .about_info{
        gap: 40px;
    }

    #skills .skills_container .skill_list , 
    #about .about_container .about_info,
    footer .footer_container,
    #resume .resume_container, nav , #banner{
        flex-direction: column;
    }

    .skill_list .skill_card{
        max-width: 100%;
    }

    .section_heading{
        max-width: 100%;
    }

    #resume .resume_container{
        margin-top: 60px;
    }
    
    .resume_card{
        margin-right: 10px;
    }
    .footer_container form input[type="text"], 
    .footer_container form textarea {
        width: 100%;
    }
}